*, ::after, ::before {
    box-sizing: border-box;
}

.movie-list, .movie-form, .video-player {
    margin: 40px 0;
}

.movie, .form__item {
    padding: 8px 0;
}

.btn {
    cursor: pointer;
    margin: 0 2px;
}

.movie__link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}