* {
    box-sizing: border-box;
}

#player, #ball, #stick {
    position: absolute;
}

#player {
    left: 1rem;
    bottom: 0;
    width: 5rem;
    height: 15rem;
    background-color: black;
}

#ball {
    left: calc(1rem + 5rem);
    bottom: calc(15rem - 2rem);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: blue;
}

#stick {
    right: 20rem;
    bottom: 3rem;
    width: 2.5rem;
    height: 8rem;
    background-color: brown;
}