* {
    box-sizing: border-box;
}

#player, #ball, #stick {
    position: absolute;
}

#player {
    left: 1rem;
    bottom: 0;
    width: 5rem;
    height: 15rem;
    background-color: black;
}

#ball {
    z-index: 100;
    left: calc(1rem + 5rem);
    bottom: calc(15rem - 2rem);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: blue;
    animation: throw-ball 3s linear infinite;
}

#stick {
    right: 20rem;
    bottom: 12rem;
    width: 2.5rem;
    height: 8rem;
    background-color: brown;
    animation: hit-ball 3s linear infinite;
}

@keyframes throw-ball {
    0% {
        left: 1rem + 5rem;
        top: calc(100% - (15rem - 2rem));
    }
    45% {
        transition: scale3d(1, 1, 1);
    }
    46% {
        left: calc(100% - (20rem + 3rem));
        top: calc(100% - (20rem - 1.5rem));
        transition: scale3d(-1.5, -1.2, 1.2);
    }
    47% {
        transition: scale3d(1, 1, 1);
    }
    75% {
        left: -2.5rem;
        top: calc(100% - 25rem);
    }
    100% {
        left: -2.5rem;
        top: calc(100% - 25rem);
    }
}

@keyframes hit-ball {
    38% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(90deg);
    }
    48% {
        transform: rotate(-90deg);
    }
    70% {
        transform: rotate(0deg);
    }
}