:root {
    --offset: 2rem;
    
    --platform-width: 10rem;
    --platform-height: 2rem;

    --trolley-width: 25rem;
    --trolley-height: 14rem;
    --cabin-width: 8rem;
    --cabin-height: 8rem;
    --cabin-window-size: 4rem;
    --semitrailer-width: calc(var(--trolley-width) - var(--cabin-width));
    --semitrailer-height: var(--cabin-height);
    --semitrailer-cargo-size: 5rem;
    --semitrailer-wall-width: 2rem;
    --semitrailer-floor-height: 2rem;
    --space-between-semitrailer-and-wheels: 0.5rem;
    --wheels-width: var(--semitrailer-width);
    --wheels-height: calc(var(--trolley-height) - var(--cabin-height));
    --wheels-wheel-size: calc(var(--trolley-height) - var(--cabin-height) - var(--space-between-semitrailer-and-wheels));

    --animation-time: 15s;
}

.platform,
.trolley,
.cabin,
.semitrailer,
.wheels,
.cabin__window,
.semitrailer__cargo,
.semitrailer__wall,
.semitrailer__floor {
    position: absolute;
}

.platform {
    width: var(--platform-width);
    height: var(--platform-height);
    bottom: 30rem;
    right: 80rem;

    background-color: grey;
}

.trolley {
    bottom: var(--offset);
    right: calc(100vw - var(--trolley-width) - var(--offset));
    width: 25rem;
    height: 15rem;
    animation: drive-to-platform var(--animation-time) 0s linear infinite;
}

.cabin {
    background-color: red;
    width: var(--cabin-width);
    height: var(--cabin-height);
    right: 0;
    top: 0;
}

.cabin__window {
    z-index: 100;
    background-color: aqua;
    width: var(--cabin-window-size);
    height: var(--cabin-window-size);
    right: 0;
    top: 0;
}

.semitrailer {
    width: var(--semitrailer-width);
    height: var(--semitrailer-height);
    transform-origin: bottom left;
    animation: semitrailer-up-down var(--animation-time) 0s linear infinite;
}

.semitrailer__cargo {
    background-color: magenta;
    bottom: var(--semitrailer-floor-height);
    right: 3rem;
    width: var(--semitrailer-cargo-size);
    height: var(--semitrailer-cargo-size);
    animation: cargo-down var(--animation-time) 0s linear infinite;
}

.semitrailer__wall {
    background-color: green;
    right: 0;
    top: 0;
    width: var(--semitrailer-wall-width);
    height: 100%;
}

.semitrailer__floor {
    background-color: green;
    height: var(--semitrailer-floor-height);
    width: 100%;
    left: 0;
    bottom: 0;
}

.wheels {
    top: var(--cabin-height);
    left: 0;
    width: 100%;
    height: var(--wheels-height);

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.wheels__wheel {
    background-color: blue;
    margin-top: var(--space-between-semitrailer-and-wheels);
    border-radius: 50%;
    width: var(--wheels-wheel-size);
    height: var(--wheels-wheel-size);
}

@keyframes drive-to-platform {
    20% {
        bottom: 2rem;
        right: 2rem;
    }
    30% {
        bottom: 29rem;
        right: 2rem;
    }
    50% {
        bottom: 29rem;
        right: 55rem;
    }
    100% {
        bottom: 29rem;
        right: 55rem;
    }

}

@keyframes semitrailer-up-down {
    50% {
        transform: rotate(0);
    }
    70% {
        transform: rotate(-25deg);  
    }
    100% {
        transform: rotate(-25deg)
    }
}

@keyframes cargo-down {
    55% {
        transform: translateX(0) translateY(0) rotate(0);
    }
    65% {
        transform: translateX(-10rem) translateY(0) rotate(0); 
    }
    70% {
        transform: translateX(-15rem) translateY(0) rotate(-20deg);
    }
    76% {
        transform: translateX(-17rem) translateY(3.6rem) rotate(-65deg);
    }
    100% {
        transform: translateX(-17rem) translateY(3.6rem) rotate(-65deg);
    }
}